@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="auth-links">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a class="nav-ghost" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Konto</a>
        </li>
        <li>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button type="submit" class="nav-ghost">Wyloguj</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a class="nav-ghost" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
        </li>
    }
</ul>
